.Planet {
    padding: 15px;
    border-bottom: 1px solid rgb(242, 242, 242);
    color : rgb(74, 74, 74);
    cursor: pointer;
    width: 72%;
}
.Planet.active {
    background-color: rgb(235, 235, 235);
}

.Planet:hover {
    background-color: rgb(235, 235, 235);;
}
